@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');

*{
    background-image: linear-gradient(to right, lightcoral,lightblue);
    font-family: 'Cairo', sans-serif;
    /* background-color: lightcoral; */
    color: purple;
}


p{
    display: block;
    text-align: center;
    font-size: 100px;
}

#flex, .item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#heading{
    font-size: 30px;
}

/* #item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

#key, #code, #which {
    text-align: center;
    font-size: 30px;
    margin-top: 5px;
}